body { min-height: 100vh; display: flex; flex-direction: column; }
header{ } 
main{flex-grow: 1;} 
footer{ }

/* * {
  outline: 1px solid black;
} */

.row div {

}
.tractor-row{

}

.tractor-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/agriculture-PSO-181x102.jpg");
  background-size: cover;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.lawn-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/lawn-and-garden-PSO-181x102.jpg");
  background-size: cover;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.construction-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/construction-PSO-181x102.jpg");
  background-size: cover;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.landscaping-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/landscaping-and-grounds-care-PSO-181x102.jpg");
  background-size: contain;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.golf-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/golf-and-sports-turf-PSO-181x102.jpg");
  background-size: cover;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.forestry-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/forestry-PSO-181x102.jpg");
  background-size: contain;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.engines-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/engines-and-drivetrain-PSO-181x102.jpg");
  background-size: contain;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.government-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/military_excavator_181x102.jpg");
  background-size: contain;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.rental-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/rental-sales-PSO-181x102.jpg");
  background-size: contain;
  height: 8vh;
  background-repeat: no-repeat;
  background-position: center;
}

.gator-img-sm {
    background-image: url("https://www.deere.com/assets/images/common/home-page/xuv590m_sept2020_632x384.jpg");
    background-size: cover;

    height: 25vh;
    background-position: center;
}

.covid-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/Running-may.jpg");
  background-size: cover;

  height: 25vh;
  background-position: center;
}

.low-monthly-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/homepage-feature-compact.jpg");
  background-size: cover;

  height: 25vh;
  background-position: center;
}

.buy-online-img-sm {
  background-image: url("https://www.deere.com/assets/images/common/home-page/buyonline3-nmb.jpg");
  background-size: cover;

  height: 25vh;
  background-position: center;
}


.yellow-tractor-img {
  background-image: url("https://www.deere.com/assets/images/common/home-page/homepage-cf1-oct2020.jpg");
  background-size: cover;

    height: 25vh;
    background-position: center;
}

.no-interest-img {
  background-image: url("https://www.deere.com/assets/images/common/home-page/homepage-cf2npni-oct2020.jpg");
  background-size: cover;

    height: 25vh;
    background-position: center;
}

.bg-photo-header {
  background-image: url("https://www.deere.com/assets/images/common/home-page/November-2020-Hero-1366x347.jpg");
  background-size: cover;
  height: 30vh;
  background-position: center;
}

.leap-img{
  background-image: url("https://www.deere.com/assets/images/common/home-page/homepage-pr-oct2020.jpg");
  background-size: cover;
  height: 280px;
  width: 250px;
  background-position: center;
}

.new-life-img{
  background-image: url("https://www.deere.com/assets/images/common/home-page/homepage-jdps-oct2020.jpg");
  background-size: cover;
  height: 280px;
  width: 250px;
  background-position: center;
}

.sustainability-img{
  background-image: url("https://www.deere.com/assets/images/common/home-page/homepage-pr2-sep2020.jpg");
  background-size: cover;
  height: 280px;
  width: 250px;
  background-position: center;
}

.neg-m {
  margin-left: -5px;
}